<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>01_v-model绑定多选框</title>
    <style>
      .text {
        margin-left: 4px;
      }

      .result {
        margin-bottom: 8px;
      }
    </style>
  </head>
  <body>
    <div id="app"></div>

    <!-- 这个案例这样绑定v-model是没有问题的，因为:key="id" -->

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/vue/3.2.40/vue.global.js"
      integrity="sha512-B0lt/3eR0uw6f6nET4+8gXtJibWLj3l++g8/kIg7EoBWWopzc9wzsPjykTF4YrSHear/fWxFyJG1zruwDfdTZg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>

    <template id="template">
      <div class="container">
        <ul>
          <li v-for="({id, text}, index) in hobbies" :key="id">
            <label>
              <input type="checkbox" v-model="hobbies[index].checked" />
              <span class="text">{{text}}</span>
            </label>
          </li>
        </ul>
        <div class="result">您的爱好是：{{resultHobbyNames}}</div>
        <button @click="insertSwimming">insertSwimming</button>
      </div>
    </template>

    <script>
      const app = Vue.createApp({
        template: `#template`,
        data() {
          return {
            hobbies: [
              {
                id: "bashetball",
                text: "篮球",
                checked: false
              },
              {
                id: "football",
                text: "足球",
                checked: false
              },
              {
                id: "tennis",
                text: "网球",
                checked: false
              }
            ]
          }
        },
        computed: {
          resultHobbies() {
            return this.hobbies.filter((el) => el.checked)
          },
          resultHobbyNames() {
            return this.resultHobbies.map((el) => el.id)
          }
        },
        methods: {
          insertSwimming() {
            this.hobbies.splice(2, 0, {
              id: "swimming",
              text: "游泳",
              checked: true
            })
          }
        }
      })
      app.mount("#app")
    </script>
  </body>
</html>
